node-red-nodes-code.json
[
  {
    "id": "b00783d3.2f248",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "449a6fb5.2809b",
    "type": "mqtt in",
    "z": "b00783d3.2f248",
    "name": "messages consumer",
    "topic": "esp/tomer",
    "qos": "2",
    "broker": "38bfdb9d.3b33c4",
    "x": 114.77786254882812,
    "y": 61.11117935180664,
    "wires": [
      [
        "47eb7f56.ad589",
        "8e43e84c.a1fa18"
      ]
    ]
  },
  {
    "id": "63264864.610238",
    "type": "mongodb2 in",
    "z": "b00783d3.2f248",
    "service": "_ext_",
    "configNode": "7d16c78f.cce198",
    "name": "save message",
    "collection": "messages",
    "operation": "save",
    "x": 957.4443969726562,
    "y": 120.66671657562256,
    "wires": [
      [
        "9f866f95.5b969"
      ]
    ],
    "inputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "4b1f529e.f75acc",
    "type": "ui_chart",
    "z": "b00783d3.2f248",
    "name": "",
    "group": "bf377b10.426148",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "channels graph",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "5",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 1159.063632965088,
    "y": 50.889084815979004,
    "wires": [
      [],
      []
    ],
    "inputLabels": [
      "msg.payload.CH"
    ]
  },
  {
    "id": "8cb09dc2.db50a",
    "type": "mqtt in",
    "z": "b00783d3.2f248",
    "name": "new logged in user consumer",
    "topic": "esp/tomer/connect",
    "qos": "2",
    "broker": "38bfdb9d.3b33c4",
    "x": 139.33338928222656,
    "y": 324.2222728729248,
    "wires": [
      [
        "a42697.c8a90968",
        "18eb98ee.5463b7"
      ]
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "d78620b1.b7106",
    "type": "mongodb2 in",
    "z": "b00783d3.2f248",
    "service": "_ext_",
    "configNode": "7d16c78f.cce198",
    "name": "login user",
    "collection": "users",
    "operation": "save",
    "x": 661.5556030273438,
    "y": 450.8889503479004,
    "wires": [
      [
        "98ca8c06.972e6"
      ]
    ],
    "inputLabels": [
      "msg.payload"
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "ea57a247.1a064",
    "type": "function",
    "z": "b00783d3.2f248",
    "name": "save last N users",
    "func": "var list = context.get(\"statusList\") || [];\nlist.push(msg.payload);\nif (list.length > 1) {\n  list = list.slice(-1);\n}\ncontext.set(\"statusList\", list);\nmsg.payload = list;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 682.6666793823242,
    "y": 393.11116218566895,
    "wires": [
      [
        "88b8ab59.656ad8",
        "a8706a2a.98aa88"
      ]
    ],
    "inputLabels": [
      "msg.payload"
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "88b8ab59.656ad8",
    "type": "ui_text",
    "z": "b00783d3.2f248",
    "group": "9b87206f.b6bac",
    "order": 0,
    "width": "6",
    "height": "1",
    "name": "",
    "label": "Last user connected:",
    "format": "{{msg.payload[0].username}}",
    "layout": "row-spread",
    "x": 953.77783203125,
    "y": 389.77784156799316,
    "wires": [],
    "inputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "18eb98ee.5463b7",
    "type": "function",
    "z": "b00783d3.2f248",
    "name": "add connection time ",
    "func": "return {\n    payload: {\n        username: msg.payload,\n        connectionStartTime: \n            new Date().toLocaleDateString()\n    }\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 421.55562591552734,
    "y": 394.22226333618164,
    "wires": [
      [
        "d78620b1.b7106",
        "ea57a247.1a064"
      ]
    ],
    "inputLabels": [
      "msg.payload"
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "a8706a2a.98aa88",
    "type": "ui_text",
    "z": "b00783d3.2f248",
    "group": "9b87206f.b6bac",
    "order": 0,
    "width": "6",
    "height": "1",
    "name": "",
    "label": "Time:",
    "format": "{{msg.payload[0].connectionStartTime}}",
    "layout": "row-spread",
    "x": 907.1111831665039,
    "y": 327.55560302734375,
    "wires": [],
    "inputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "98ca8c06.972e6",
    "type": "mongodb2 in",
    "z": "b00783d3.2f248",
    "service": "_ext_",
    "configNode": "7d16c78f.cce198",
    "name": "connected-users-mongodb",
    "collection": "users",
    "operation": "stats",
    "x": 900.4444427490234,
    "y": 449.7778606414795,
    "wires": [
      [
        "477121bb.a6ddb"
      ]
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "9f503918.ec6668",
    "type": "ui_text",
    "z": "b00783d3.2f248",
    "group": "9b87206f.b6bac",
    "order": 0,
    "width": "6",
    "height": "1",
    "name": "number of connected users",
    "label": "Connected users until now:",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1526.2539520263672,
    "y": 511.7619924545288,
    "wires": [],
    "inputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "a6fbc53d.b0b7c8",
    "type": "mqtt in",
    "z": "b00783d3.2f248",
    "name": "new logged out user consumer",
    "topic": "esp/tomer/close",
    "qos": "2",
    "broker": "38bfdb9d.3b33c4",
    "x": 144.88894653320312,
    "y": 553.1111640930176,
    "wires": [
      [
        "86231938.ac1748",
        "66b712ba.d00eac"
      ]
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "66b712ba.d00eac",
    "type": "mongodb2 in",
    "z": "b00783d3.2f248",
    "service": "_ext_",
    "configNode": "7d16c78f.cce198",
    "name": "logout user",
    "collection": "users",
    "operation": "findAndRemove",
    "x": 655.206413269043,
    "y": 548.349178314209,
    "wires": [
      [
        "98ca8c06.972e6"
      ]
    ],
    "inputLabels": [
      "msg.payload"
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "409e477b.e01338",
    "type": "ui_chart",
    "z": "b00783d3.2f248",
    "name": "connected users graph",
    "group": "9b87206f.b6bac",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "connected users graph",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "5",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 1523.809585571289,
    "y": 383.63499641418457,
    "wires": [
      [],
      []
    ],
    "inputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "ba017ae2.011248",
    "type": "function",
    "z": "b00783d3.2f248",
    "name": "extract channel",
    "func": "return {\n    payload: msg.payload.CH\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 887.444709777832,
    "y": 51.12716484069824,
    "wires": [
      [
        "4b1f529e.f75acc"
      ]
    ],
    "inputLabels": [
      "msg.payload"
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "477121bb.a6ddb",
    "type": "function",
    "z": "b00783d3.2f248",
    "name": "extract number of connected users",
    "func": "return {\n    payload: msg.payload.count\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 1200.4444274902344,
    "y": 450.88897132873535,
    "wires": [
      [
        "9f503918.ec6668",
        "409e477b.e01338",
        "82f42cdf.68164"
      ]
    ]
  },
  {
    "id": "93189d13.41469",
    "type": "function",
    "z": "b00783d3.2f248",
    "name": "group channel views by channels",
    "func": "if (msg.payload.length === 0)\n    return {\n        payload: [{\n            \"series\": [\"X\"],\n            \"data\": [[]],\n            \"labels\": []\n        }]\n    };\n    \n\n\nconst maxChannel = Math.max(...msg.payload.map(message => message.CH));\n\nconst channelsViews = new Array(maxChannel + 1);\n\nfor (let i = 0; i < channelsViews.length; i++)\n    channelsViews[i] = msg.payload.filter(message => message.CH === i).length;\n\nconst channels = new Array(maxChannel + 1);\nfor (let i = 0; i < channels.length; i++)\n    channels[i] = i\n\nreturn {\n    payload: [{\n        \"series\": [\"X\"],\n        \"data\": [channelsViews],\n        \"labels\": channels\n    }]\n};",
    "outputs": 1,
    "noerr": 0,
    "x": 1465.5238571166992,
    "y": 131.04769325256348,
    "wires": [
      [
        "ef2d32c3.993e"
      ]
    ],
    "inputLabels": [
      "msg.payload"
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "9f866f95.5b969",
    "type": "mongodb2 in",
    "z": "b00783d3.2f248",
    "service": "_ext_",
    "configNode": "7d16c78f.cce198",
    "name": "get all messages",
    "collection": "messages",
    "operation": "aggregate.toArray",
    "x": 1196.8889999389648,
    "y": 127.11118030548096,
    "wires": [
      [
        "93189d13.41469"
      ]
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "ef2d32c3.993e",
    "type": "ui_chart",
    "z": "b00783d3.2f248",
    "name": "",
    "group": "bf377b10.426148",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Channel views",
    "chartType": "bar",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 1737.1270294189453,
    "y": 126.15878295898438,
    "wires": [
      [],
      []
    ],
    "inputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "86231938.ac1748",
    "type": "debug",
    "z": "b00783d3.2f248",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 386.95250701904297,
    "y": 513.4287796020508,
    "wires": [],
    "inputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "a42697.c8a90968",
    "type": "debug",
    "z": "b00783d3.2f248",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 385.4445037841797,
    "y": 324.4445290565491,
    "wires": [],
    "inputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "bccf0e5c.0beef",
    "type": "function",
    "z": "b00783d3.2f248",
    "name": "decode channel codes",
    "func": "const channelCodes=[\n    {\n        CH: 0,\n        codes: [0,2048]\n    },\n    {\n        CH: 1,\n        codes: [1,2049]\n    },\n    {\n        CH: 2,\n        codes: [2,2050]\n    },\n    {\n        CH: 3,\n        codes: [3,2051]\n    },\n    {\n        CH: 4,\n        codes: [4,2052]\n    },\n    {\n        CH: 5,\n        codes: [5,2053]\n    },\n    {\n        CH: 6,\n        codes: [6,2054]\n    },\n    {\n        CH: 7,\n        codes: [7,2055,1198716501]\n    },\n    {\n        CH: 8,\n        codes: [8,2056]\n    },\n    {\n        CH: 9,\n        codes: [9,2057]\n    }\n];\n\nconst transformCodeToChannel = code =>\n    channelCodes.filter(channelCode => channelCode.codes.includes(code))[0].CH;\n\nreturn {\n    payload: {\n        user_name: msg.payload.user_name,\n        CH: transformCodeToChannel(msg.payload.CH),\n        datetime: new Date().getHours()\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "x": 544.333381652832,
    "y": 185.55559921264648,
    "wires": [
      [
        "edf96426.1a4ea8"
      ]
    ],
    "inputLabels": [
      "msg.payload"
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "edf96426.1a4ea8",
    "type": "function",
    "z": "b00783d3.2f248",
    "name": "add user id",
    "func": "const userCodes=[]\nuserCodes[\"stavalfi\"]=[1,0,0]\nuserCodes[\"Team10\"]=[0,1,0]\nuserCodes[\"elior\"]=[0,0,1]\n\nreturn {\n    payload: {\n        user_name: msg.payload.user_name,\n        user_code: userCodes[msg.payload.user_name],\n        CH: msg.payload.CH,\n        datetime: msg.payload.datetime\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "x": 745.5556716918945,
    "y": 186.11119079589844,
    "wires": [
      [
        "63264864.610238",
        "5fa33575.e187ec",
        "ba017ae2.011248",
        "82f42cdf.68164"
      ]
    ],
    "inputLabels": [
      "msg.payload"
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "47eb7f56.ad589",
    "type": "function",
    "z": "b00783d3.2f248",
    "name": "string to json",
    "func": "return {\n    payload: JSON.parse(msg.payload)\n};",
    "outputs": 1,
    "noerr": 0,
    "x": 331.0000686645508,
    "y": 184.77783679962158,
    "wires": [
      [
        "bccf0e5c.0beef"
      ]
    ],
    "inputLabels": [
      "msg.payload"
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "8e43e84c.a1fa18",
    "type": "debug",
    "z": "b00783d3.2f248",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 337.55562591552734,
    "y": 61.111175537109375,
    "wires": [],
    "inputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "f9d182bd.9f584",
    "type": "mqtt out",
    "z": "b00783d3.2f248",
    "name": "classification producer",
    "topic": "classification",
    "qos": "",
    "retain": "",
    "broker": "38bfdb9d.3b33c4",
    "x": 1456.285873413086,
    "y": 245.44449996948242,
    "wires": []
  },
  {
    "id": "5fa33575.e187ec",
    "type": "function",
    "z": "b00783d3.2f248",
    "name": "message to array for prediction",
    "func": "return {\n    payload: [[...msg.payload.user_code,msg.payload.datetime]]\n};",
    "outputs": 1,
    "noerr": 0,
    "x": 1065.7301788330078,
    "y": 203.77790069580078,
    "wires": [
      [
        "f9d182bd.9f584"
      ]
    ],
    "inputLabels": [
      "msg.payload"
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "a224a1b2.55a1b",
    "type": "create dataset",
    "z": "b00783d3.2f248",
    "name": "",
    "path": "/Users/stavalfi/.node-red/node_modules/node-red-contrib-machine-learning/test/iris.data",
    "saveFolder": "/Users/stavalfi/.node-red/node_modules/node-red-contrib-machine-learning/test/datasets",
    "saveName": "iris",
    "input": "0,1,2,3",
    "output": "4",
    "trainingPartition": "",
    "shuffle": true,
    "seed": "",
    "x": 1422.853328704834,
    "y": 613.0383596420288,
    "wires": [
      [
        "328a5a89.8999d6"
      ]
    ]
  },
  {
    "id": "d4bb7a9c.9665a8",
    "type": "load dataset",
    "z": "b00783d3.2f248",
    "name": "",
    "datasetFolder": "/Users/stavalfi/.node-red/node_modules/node-red-contrib-machine-learning/test/datasets",
    "datasetName": "iris",
    "partition": "train.csv",
    "input": true,
    "output": true,
    "x": 1328.5041999816895,
    "y": 734.4618139266968,
    "wires": [
      [
        "784b299b.9c4b48"
      ],
      [
        "81a64430.7b8cf8"
      ]
    ]
  },
  {
    "id": "adefdd02.20532",
    "type": "inject",
    "z": "b00783d3.2f248",
    "name": "start",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 1192.853328704834,
    "y": 613.0383596420288,
    "wires": [
      [
        "a224a1b2.55a1b"
      ]
    ]
  },
  {
    "id": "e47fa825.4c4a08",
    "type": "inject",
    "z": "b00783d3.2f248",
    "name": "start",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 1188.2185020446777,
    "y": 685.89040184021,
    "wires": [
      [
        "d4bb7a9c.9665a8"
      ]
    ]
  },
  {
    "id": "d718a34a.2e183",
    "type": "inject",
    "z": "b00783d3.2f248",
    "name": "start",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 1181.3930282592773,
    "y": 892.6786913871765,
    "wires": [
      [
        "a6a0ecd8.7a41f",
        "4649f417.13624c"
      ]
    ]
  },
  {
    "id": "328a5a89.8999d6",
    "type": "debug",
    "z": "b00783d3.2f248",
    "name": "print",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 1670.8533515930176,
    "y": 611.0383739471436,
    "wires": []
  },
  {
    "id": "81a64430.7b8cf8",
    "type": "debug",
    "z": "b00783d3.2f248",
    "name": "error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 1744.9327278137207,
    "y": 741.4617567062378,
    "wires": []
  },
  {
    "id": "2f444636.a9cdea",
    "type": "debug",
    "z": "b00783d3.2f248",
    "name": "print",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 1742.9327125549316,
    "y": 691.4617528915405,
    "wires": []
  },
  {
    "id": "4b36d9bf.211aa8",
    "type": "predictor",
    "z": "b00783d3.2f248",
    "name": "decision tree classifier predictor",
    "modelPath": "/Users/stavalfi/.node-red/node_modules/node-red-contrib-machine-learning/test/models",
    "modelName": "dtc.b",
    "x": 1426.6787757873535,
    "y": 930.8216524124146,
    "wires": [
      [
        "b4a2e696.3ad868"
      ],
      [
        "28051f10.d926f"
      ]
    ]
  },
  {
    "id": "784b299b.9c4b48",
    "type": "decision tree classifier",
    "z": "b00783d3.2f248",
    "name": "decision tree classifier trainer",
    "savePath": "/Users/stavalfi/.node-red/node_modules/node-red-contrib-machine-learning/test/models",
    "saveName": "dtc.b",
    "maxDepth": "",
    "criterion": "gini",
    "splitter": "best",
    "x": 1539.789882659912,
    "y": 713.3189382553101,
    "wires": [
      [
        "2f444636.a9cdea"
      ],
      [
        "81a64430.7b8cf8"
      ]
    ]
  },
  {
    "id": "b4a2e696.3ad868",
    "type": "assessment",
    "z": "b00783d3.2f248",
    "name": "",
    "score": "accuracy_score",
    "x": 1561.9646263122559,
    "y": 834.1072702407837,
    "wires": [
      [
        "27a6bc18.9b67a4"
      ],
      [
        "28051f10.d926f"
      ]
    ]
  },
  {
    "id": "a6a0ecd8.7a41f",
    "type": "load dataset",
    "z": "b00783d3.2f248",
    "name": "",
    "datasetFolder": "/Users/stavalfi/.node-red/node_modules/node-red-contrib-machine-learning/test/datasets",
    "datasetName": "iris",
    "partition": "test.csv",
    "input": false,
    "output": true,
    "x": 1324.2501640319824,
    "y": 841.2500791549683,
    "wires": [
      [
        "b4a2e696.3ad868"
      ],
      [
        "28051f10.d926f"
      ]
    ]
  },
  {
    "id": "4649f417.13624c",
    "type": "load dataset",
    "z": "b00783d3.2f248",
    "name": "",
    "datasetFolder": "/Users/stavalfi/.node-red/node_modules/node-red-contrib-machine-learning/test/datasets",
    "datasetName": "iris",
    "partition": "test.csv",
    "input": true,
    "output": false,
    "x": 1258.535846710205,
    "y": 1012.6787033081055,
    "wires": [
      [
        "4b36d9bf.211aa8"
      ],
      [
        "28051f10.d926f"
      ]
    ]
  },
  {
    "id": "28051f10.d926f",
    "type": "debug",
    "z": "b00783d3.2f248",
    "name": "error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 1739.964542388916,
    "y": 935.5360631942749,
    "wires": []
  },
  {
    "id": "27a6bc18.9b67a4",
    "type": "debug",
    "z": "b00783d3.2f248",
    "name": "print",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 1744.2503623962402,
    "y": 828.3931531906128,
    "wires": []
  },
  {
    "id": "b6066f76.0ce6f",
    "type": "predictor",
    "z": "b00783d3.2f248",
    "name": "decision tree classifier predictor",
    "modelPath": "/Users/stavalfi/.node-red/node_modules/node-red-contrib-machine-learning/test/models",
    "modelName": "dtc.b",
    "x": 645.1111793518066,
    "y": 784.7779951095581,
    "wires": [
      [
        "a1d1e8b5.c5fac8"
      ],
      [
        "620bf4f2.7be96c"
      ]
    ],
    "inputLabels": [
      "msg.payload"
    ],
    "outputLabels": [
      "msg.payload",
      "msg.payload"
    ]
  },
  {
    "id": "a1d1e8b5.c5fac8",
    "type": "mqtt out",
    "z": "b00783d3.2f248",
    "name": "prediction producer",
    "topic": "prediction",
    "qos": "",
    "retain": "",
    "broker": "9b469b5f.d8d148",
    "x": 932.111156463623,
    "y": 684.3334665298462,
    "wires": [],
    "inputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "620bf4f2.7be96c",
    "type": "debug",
    "z": "b00783d3.2f248",
    "name": "error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 909.222339630127,
    "y": 750.1112298965454,
    "wires": [],
    "inputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "b048ecdb.935a2",
    "type": "mqtt in",
    "z": "b00783d3.2f248",
    "name": "classification consumer",
    "topic": "classification",
    "qos": "2",
    "broker": "9b469b5f.d8d148",
    "x": 191.44446182250977,
    "y": 686.6667966842651,
    "wires": [
      [
        "53421618.cc1b68",
        "39f4949f.63c17c"
      ]
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "39f4949f.63c17c",
    "type": "debug",
    "z": "b00783d3.2f248",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 489.72228240966797,
    "y": 688.0001068115234,
    "wires": [],
    "inputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "53421618.cc1b68",
    "type": "function",
    "z": "b00783d3.2f248",
    "name": "string to json",
    "func": "return {\n    payload: JSON.parse(msg.payload)\n};",
    "outputs": 1,
    "noerr": 0,
    "x": 361.66677474975586,
    "y": 787.7779207229614,
    "wires": [
      [
        "b6066f76.0ce6f",
        "39f4949f.63c17c"
      ]
    ],
    "inputLabels": [
      "msg.payload"
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "6611d78b.e441b8",
    "type": "debug",
    "z": "b00783d3.2f248",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 814.4286041259766,
    "y": 881.9684505462646,
    "wires": [],
    "inputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "ec8b67eb.448e88",
    "type": "mqtt in",
    "z": "b00783d3.2f248",
    "name": "prediction consumer",
    "topic": "prediction",
    "qos": "2",
    "broker": "9b469b5f.d8d148",
    "x": 182.55558395385742,
    "y": 877.8889675140381,
    "wires": [
      [
        "cf76eb66.5bba78"
      ]
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "1c0a29e3.7dbb56",
    "type": "mqtt out",
    "z": "b00783d3.2f248",
    "name": "fake messages producer",
    "topic": "esp/tomer",
    "qos": "",
    "retain": "",
    "broker": "38bfdb9d.3b33c4",
    "x": 777.142894744873,
    "y": 963.4286880493164,
    "wires": [],
    "inputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "be095909.9b46c8",
    "type": "inject",
    "z": "b00783d3.2f248",
    "name": "create fake message",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 198.42857360839844,
    "y": 968.1429376602173,
    "wires": [
      [
        "380e8e1e.92b042"
      ]
    ],
    "outputLabels": [
      "time.payload"
    ]
  },
  {
    "id": "2b87f6d5.3ab13a",
    "type": "inject",
    "z": "b00783d3.2f248",
    "name": "create fake logged in user",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 222.28570938110352,
    "y": 1081.8572397232056,
    "wires": [
      [
        "9136d4a2.c8a438"
      ]
    ],
    "outputLabels": [
      "time.payload"
    ]
  },
  {
    "id": "ac3a6e8d.814e2",
    "type": "mqtt out",
    "z": "b00783d3.2f248",
    "name": "fake logged in users producer",
    "topic": "esp/tomer/connect",
    "qos": "",
    "retain": "",
    "broker": "38bfdb9d.3b33c4",
    "x": 793.7142868041992,
    "y": 1074.1430196762085,
    "wires": []
  },
  {
    "id": "9136d4a2.c8a438",
    "type": "function",
    "z": "b00783d3.2f248",
    "name": "add random number to user",
    "func": "return {\n    payload: \"stavalfi\" + Date.now().toString()\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 492.28571701049805,
    "y": 1078.8572392463684,
    "wires": [
      [
        "ac3a6e8d.814e2"
      ]
    ],
    "inputLabels": [
      "msg.payload"
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "73486715.71f0f8",
    "type": "inject",
    "z": "b00783d3.2f248",
    "name": "create fake logged out user",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 224.71429824829102,
    "y": 1020.7144498825073,
    "wires": [
      [
        "31fcaec5.7ef372"
      ]
    ],
    "outputLabels": [
      "time.payload"
    ]
  },
  {
    "id": "65677cf.8b61e84",
    "type": "mqtt out",
    "z": "b00783d3.2f248",
    "name": "fake connected users producer",
    "topic": "esp/tomer/close",
    "qos": "",
    "retain": "",
    "broker": "38bfdb9d.3b33c4",
    "x": 800.2858428955078,
    "y": 1025.0002098083496,
    "wires": [],
    "inputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "31fcaec5.7ef372",
    "type": "function",
    "z": "b00783d3.2f248",
    "name": "add random number to user",
    "func": "return {\n    payload: \"stavalfi\"\n};",
    "outputs": 1,
    "noerr": 0,
    "x": 492.7143135070801,
    "y": 1023.7144498825073,
    "wires": [
      [
        "65677cf.8b61e84"
      ]
    ],
    "inputLabels": [
      "msg.payload"
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "380e8e1e.92b042",
    "type": "function",
    "z": "b00783d3.2f248",
    "name": "create random massage",
    "func": "return {\n   payload: {\n        CH: Math.round(Math.random()*9),\n        user_name: \"stavalfi\"\n   }\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 474.0000114440918,
    "y": 970.1429510116577,
    "wires": [
      [
        "1c0a29e3.7dbb56"
      ]
    ],
    "inputLabels": [
      "msg.payload"
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "afa33a4d.935c98",
    "type": "ui_chart",
    "z": "b00783d3.2f248",
    "name": "",
    "group": "9b87206f.b6bac",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "predictions graph",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "5",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 840.0000076293945,
    "y": 823.3334379196167,
    "wires": [
      [],
      []
    ],
    "inputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "cf76eb66.5bba78",
    "type": "function",
    "z": "b00783d3.2f248",
    "name": "string to json",
    "func": "return {\n    payload: JSON.parse(msg.payload)[0]\n};",
    "outputs": 1,
    "noerr": 0,
    "x": 383.3333511352539,
    "y": 877.7777605056763,
    "wires": [
      [
        "afa33a4d.935c98",
        "6611d78b.e441b8",
        "3d1c99b7.277386"
      ]
    ],
    "inputLabels": [
      "msg.payload"
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "6e65ff71.2d5698",
    "type": "mosca in",
    "z": "b00783d3.2f248",
    "mqtt_port": 1883,
    "mqtt_ws_port": 8080,
    "name": "",
    "username": "",
    "password": "",
    "dburl": "",
    "x": 585.0000534057617,
    "y": 52.222225189208984,
    "wires": [
      []
    ]
  },
  {
    "id": "3d1c99b7.277386",
    "type": "mqtt out",
    "z": "b00783d3.2f248",
    "name": "android publisher",
    "topic": "esp/tomer",
    "qos": "",
    "retain": "",
    "broker": "cbbd15c8.fb473",
    "x": 641.6667137145996,
    "y": 913.3332586288452,
    "wires": []
  },
  {
    "id": "107ac219.db2a36",
    "type": "mqtt in",
    "z": "b00783d3.2f248",
    "name": "messages consumer",
    "topic": "predict/publisher",
    "qos": "2",
    "broker": "cbbd15c8.fb473",
    "x": 129.66665649414062,
    "y": 246.3333396911621,
    "wires": [
      [
        "cced6e6a.a11bc"
      ]
    ],
    "outputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "cced6e6a.a11bc",
    "type": "function",
    "z": "b00783d3.2f248",
    "name": "prepare request from android for prediction",
    "func": "const userCodes=[]\nuserCodes[\"stavalfi\"]=[1,0,0]\nuserCodes[\"Team10\"]=[0,1,0]\nuserCodes[\"elior\"]=[0,0,1]\nconst username = msg.payload\nconst array = userCodes[username]\nreturn {\n    payload: [[...array,new Date().getHours()]]\n};",
    "outputs": 1,
    "noerr": 0,
    "x": 451.83343505859375,
    "y": 249.66665410995483,
    "wires": [
      [
        "f9d182bd.9f584",
        "82f42cdf.68164"
      ]
    ]
  },
  {
    "id": "82f42cdf.68164",
    "type": "debug",
    "z": "b00783d3.2f248",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 977.4444427490234,
    "y": 284.4445171356201,
    "wires": [],
    "inputLabels": [
      "msg.payload"
    ]
  },
  {
    "id": "38bfdb9d.3b33c4",
    "type": "mqtt-broker",
    "z": "",
    "name": "",
    "broker": "iot.eclipse.org",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "7d16c78f.cce198",
    "type": "mongodb2",
    "z": "",
    "uri": "mongodb://ds161411.mlab.com:61411/stavdb",
    "name": "",
    "options": "",
    "parallelism": "-1"
  },
  {
    "id": "bf377b10.426148",
    "type": "ui_group",
    "z": "",
    "name": "Graphs",
    "tab": "372afcc0.4474e4",
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "9b87206f.b6bac",
    "type": "ui_group",
    "z": "",
    "name": "Users",
    "tab": "372afcc0.4474e4",
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "9b469b5f.d8d148",
    "type": "mqtt-broker",
    "z": "",
    "name": "",
    "broker": "iot.eclipse.org",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "cbbd15c8.fb473",
    "type": "mqtt-broker",
    "z": "",
    "name": "android consumer",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": ""
  },
  {
    "id": "372afcc0.4474e4",
    "type": "ui_tab",
    "z": "",
    "name": "Home",
    "icon": "dashboard"
  }
]
